*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
