.body-container {
  padding: 5% 10%;
}

.main-title {
  margin-bottom: 5rem;
}
.main-text {
  margin-right: 20%;
  margin-bottom: 4rem;
}

.main-link {
  font-size: 3rem;
  font-family: "Gelasio";
  font-weight: "400";
  font-style: italic;
}
